.container-fluid {
  display: flex;
  width: 100vw;
  border-bottom: solid 2px #fff;
}

.navbar-toggler {
  position: top;
  margin: 0;
}

navbar-brand {
  position: fixed;
  margin: 0;
}

.logo-image {
  margin: 0;
}
