
:root {
  --border-colour: #202020;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #3d1212;
  color-scheme: normal dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);


}

body  {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);

}
/* .centered {
  width: 500px;
  align-content: center;
  
  text-align: center;
  width: 300px;
  
  
} */

a {
  font-weight: 500;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  font-size:large;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);

  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
display: flex;


}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 50px;
}
button:hover {
  border-color: #646cff;
  color: #646cff;);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #202020;
    color: rgba(255, 255, 255, 0.87);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #202020;
    color: rgba(255, 255, 255, 0.87);  }

  
}



.headshot {
  border-radius: 50%;
  height: 275px;
  width: 200px;
  border: solid 2px #675eb8;
  padding: 0px;
  text-align: center;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;

}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;

}




.Page {
 display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50%;
  margin-right: 50%;
  width: 100vw; */
}

.title {
text-align: center;
  display: flex;
  margin-bottom: 60px;

}

.project-image {
  height: 200px;
  width: 400px;
  border: solid 2px #675eb8;
  border-radius: 10px;
  padding: 10px;
}

.project {
  display: flex;
}
.contact {
  display: flexbox;
  content: center;
  text-align: center;
  justify-content: center;
  
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  
}

.contact-info  input{
  margin-bottom: 20px;
  
  
}

.logo-container {
  display: flex;
}

.footer-logo {
  margin: 0 10px;
  height: 30px;
  width: 30px;
}

.nav-title {
    margin-left: 140px;

 /*    .navbar navbar-expand-lg {

    } */

  font-size: 20px;
  font-weight: 500;
}

.aboutme-container {
  align-items: center;
  text-align: center;
  justify-content: center;

}

.aboutme-content {
  width: 400px;
}

.resume-info {
  width: 500px;
}

.page-content {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  justify-content: center;
  
}

.projects {
  width: 400px;
}